<!-- basic template from https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_default&stacked=h -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>UI</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
</head>
    <body>          
        <div class="container">

          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
              <h3>Make your search below:</h3>
              <form action="/submitModelDataHere" id="my-form">
                  Postcode &nbsp &nbsp &nbsp <input type="text" name="pcode", id="pcode"><label for="pcode" id="pcode-label" style="color:red;font-size:0.7em"></label><br>
                  Bedrooms &nbsp &nbsp <input type="text" name="bedrms", id="bedrms"><label for="bedrms" id="bedrms-label" style="color:red;font-size:0.7em"></label><br>
                  Bathrooms &nbsp <input type="text" name="bthrms", id="bthrms"><label for="bthrms" id="bthrms-label" style="color:red;font-size:0.7em"></label><br>
                  Receptions &nbsp  <input type="text" name="rcptns", id="rcptns"><label for="rcptns" id="rcptns-label" style="color:red;font-size:0.7em"></label><br>
                  <input type="submit">
              </form>
            </div>
            <div class="col-sm-6">
              <h3>County Durham</h3>
              <div class="viz-box">
                <iframe id="googlemaps"
                width="500"
                height="400"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAUT8HAbNhczkJs5Ib1HcX1vOkX0_Xcsdo
                &q=County+Durham">
              </iframe>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>

          <div class="row" id="results">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 result-display">
              <div id="result-value"></div>
            </div>
            <div class="col-sm-2 table"></div>
          </div>

          <div class="row" id="compare">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <h3 id="postcodehere">Comparison with other properties in: </h3>
              <ul style="list-style-type:disc">
                <li id="medPrice">Median Price for properties in this area: </li>
                <li id="medBedrooms">Median Number of bedrooms in this area: </li>
                <li id="medBathrooms">Median Number of bathrooms in this area: </li>
                <li id="medReceptions">Median Number of receptions in this area: </li>
             </ul>
            </div>
            <div class="col-sm-2"></div>
          </div>

        </div>
    </body>
    <script src="static/ui.js"></script>
</html>