<!-- basic template from https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_default&stacked=h -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>UI</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
</head>
    <body>          
        <div class="container">
          <div class="jumbotron text-center">
            <h1>Property Prediction Engine</h1>
            <p>Using Random-Forest Models to value properties in County Durham</p>
          </div>
          <!-- Postcode &nbsp &nbsp &nbsp <input type="text" name="pcode", id="pcode"><label for="pcode" id="pcode-label" style="color:red;font-size:0.7em"></label><br> -->
          <div class="row" id="model-input">
            <div class="col-sm-6" align="left">
              <h3> Provide Evaulation Arguments: </h3>
              <form id="my-form">
                <div class="form-group" style="margin-bottom:5px">
                  <label for="pcode" class="col-form-label">Postcode</label>
                  <input type="text" class="form-control" name="pcode" id="pcode" placeholder="DH1" style="margin-top:3px;margin-bottom:0px">
                  <div class="" style="color:red;font-weight:true" id="pcode-label"></div>
                </div>
                <div class="form-group" style="margin-bottom:5px">
                  <label for="bedrms" class="col-form-label">Bedrooms</label>
                  <input type="text" class="form-control" name="bedrms" id="bedrms" placeholder="4" style="margin-top:3px;margin-bottom:0px">
                  <div class="" style="color:red;font-weight:true" id="bedrms-label"></div>

                </div>
                <div class="form-group" style="margin-bottom:5px">
                  <label for="bthrms" class="col-form-label">Bathrooms</label>
                  <input type="text" class="form-control" name="bthrms" id="bthrms" placeholder="2" style="margin-top:3px;margin-bottom:0px">
                  <div class="" style="color:red;font-weight:true" id="bthrms-label"></div>

                </div>
                <div class="form-group" style="margin-bottom:15px">
                  <label for="rcptns" class="col-form-label">Receptions</label>
                  <input type="text" class="form-control" name="rcptns" id="rcptns" placeholder="1" style="margin-top:3px;margin-bottom:0px">
                  <div class="" style="color:red;font-weight:true" id="rcptns-label"></div>

                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>

            <div class="col-sm-6" style="padding-left:10px">
                <h3 >County Durham</h3>
                <iframe id="googlemaps"
                width=100%
                height="400"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAUT8HAbNhczkJs5Ib1HcX1vOkX0_Xcsdo
                &q=County+Durham">
              </iframe>
            </div>
          </div>

          <div class="row" id="results">
            <br>
            <hr>
            <h3>Results </h3>
            <br>
            <div class="result-display">
              <div id="result-value" style="padding-left:15px"></div>
            </div>
          
            <hr>
            <h3 id="postcodehere">Comparison with other properties in: </h3>
            <div class="row">
              <div class="col-sm-9">
                <div class="col-sm-6 table">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Metric</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Median Number of receptions in this area:</td>
                      <td id="medPrice"></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Median Number of bedrooms in this area</td>
                      <td id="medBedrooms"></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Median Number of bathrooms in this area</td>
                      <td id="medBathrooms"></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Median Number of bathrooms in this area</td>
                      <td id="medReceptions"></td>
                    </tr>
                  </tbody>
                </table>
                </div>
            </div>
          </div>
      </div>

    </body>
    <script src="static/ui.js"></script>
</html>