form {
  margin-bottom: 15px;
  width: 100%;
}

input {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}

.viz-box {
  height: 100%;
}

#results {
  display: none;
}

.result {
  height: 100px;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

#result-value {
  text-align: left;
  color:mediumseagreen;
  font-size: x-large;
}

#map {
  transform: rotate(270deg);
  align-self: center;
}

#compare {
  background-color: black;
  color: aliceblue;
  border-style: ridge;
  border-radius: 5px;
  display: none;
}