form {
  margin-bottom: 15px;
  width: 100%;
}

input {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}

.viz-box {
  height: 100%;
}

#results {
  border-style: solid;
  display: none;
}

.result {
  height: 100px;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

#map {
  transform: rotate(270deg);
  align-self: center;
}